<template>
  <div class="white elevation-2 panel-class">
    <v-toolbar flat dense class="cyan" dark>
      <v-toolbar-title>{{title}}</v-toolbar-title>
      <v-btn v-if="dynamic"
             fab dark bottom right absolute color="cyan accent-2"
             @click="create">
        <v-icon>add</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <slot name="customizations"></slot>
      <slot name="actions"></slot>
    </v-toolbar>

    <div class="pl-2 pr-2 pt-2 pb-2">
      <slot>
      </slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: [
      'title',
      'dynamic'
    ],
    methods: {
      create () {
        this.$emit('create')
      }
    }
  }
</script>

<style scoped>
  .panel-class {
    margin: 1em;
  }
</style>
