<template>
  <v-container>
    <div class="flex xl8 offset-xl2">
    <panel title="Заказы" dynamic="true" v-on:create="create">
      <div class="container fluid grid-list-lg" style="min-height: 0px;">
        <div class="layout row wrap">
            <div class="flex xl4 lg4 md6 sm12 xs12" v-for="order in orders" :key="order.remoteId">
              <div class="black--text card white" data-ripple="false" style="height: auto;">
                <div class="container fluid grid-list-lg">
                  <div class="layout row">
                    <div class="flex xl9 lg9 md9 sm9 xs9">
                      <div>
                        <div class="headline">
                          <router-link :to="{name: mapping[order.status], params: {orderId: order.remoteId}}">
                            {{order.name}}
                          </router-link>
                        </div>
                      </div>
                    </div>
                    <div class="flex xl3 lg3 md3 sm3 xs3">
                      <span class="card__media__content order-status-image">
                        <img :src="apiUrl + '/images/int/' + orderIcon(order)">
                      </span>
                      <v-btn fab small bottom right absolute @click="deleteOrder(order.remoteId)"><v-icon>delete</v-icon></v-btn>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </panel>
    </div>
  </v-container>
</template>

<script src="./Orders.js"></script>
<style scoped src="./Orders.css"></style>