<template>
  <div id="app">
    <v-app>
      <page-header></page-header>
      <router-view></router-view>
    </v-app>
  </div>
</template>

<script>
import PageHeader from "@/components/header/Header.vue";

export default {
  name: "app",
  components: {
    PageHeader
  }
};
</script>
