<template>
  <span class="product-card">
    <v-badge right overlap v-model="showBadges" :color="getBadgeColor">
      <v-icon slot="badge" dark v-if="isBought()">done</v-icon>
      <span slot="badge" v-else>
        {{amount}}
      </span>
      
      <img :src="apiUrl + '/images/prod/' + product.remoteId" @click="buy" :class="blurPick"/>
      <div>
        <span>{{product.name}}</span>
      </div>
    </v-badge>
  </span>
</template>



<script>
import PicksService from "@/services/PicksService";
import * as constants from "@/constants";

export default {
  props: ["remoteId", "amount", "status", "product"],
  created() {
    this.apiUrl = constants.API_URL;
  },
  computed: {
    showBadges: function() {
      return this.amount > 1 || this.isBought();
    },
    blurPick: function() {
      return this.isBought() ? "img-bought" : "";
    },
    getBadgeColor: function() {
      return this.isBought() ? "orange" : "blue";
    }
  },
  methods: {
    async add() {
      const addedPick = (await PicksService.addPick(
        this.$store.state.route.params.orderId,
        this.remoteId
      )).data;
      addedPick.amount = 1;
      this.$emit("update", addedPick);
    },
    buy() {
      this.$emit("buyOrReturn", this.remoteId);
    },
    isBought: function() {
      return this.status === "BOUGHT";
    }
  }
};
</script>



<style scoped>
img {
  cursor: pointer;
  width: 64px;
  height: 64px;
}

@media (hover:hover) {
  img:hover {
    -webkit-filter: drop-shadow(8px 8px 10px gray); /* Safari */
    filter: drop-shadow(8px 8px 10px gray);
  }
}

.product-card {
  font-size: smaller;
}

.img-bought {
  -webkit-filter: blur(1px) grayscale(100%);
  filter: blur(1px) grayscale(100%);
}
</style>
