<template>
  <span class="product-card">
    <v-dialog v-model="dialog" max-width="500px" hide-overlay>
      <v-card white>
        <v-container fluid>
          <v-layout row>
            <v-flex xl6 offset-xl3>
              <v-flex xl1 offset-xl5 xs1 offset-xs5>
                <img :src="apiUrl + '/images/prod/' + remoteId"/>
              </v-flex>
              <!-- <v-text-field label="Количество" type="number" required autofocus v-model="quantity"></v-text-field>   -->
              <v-select
                v-bind:items="items"
                v-model="quantity"
                label="Количество"
                bottom>
              </v-select>
              <v-container fluid>
                <v-layout row>
                  <v-flex xl6 lg6 md6 sm6 xs6>
                    <v-btn @click.native="dialog = false">Отмена</v-btn>
                  </v-flex>
                  <v-flex xl6 lg6 md6 sm6 xs6>
                    <v-btn @click.native="dialogOk()">ОК</v-btn>
                  </v-flex>
              </v-layout>
              </v-container>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
    <img :src="apiUrl + '/images/prod/' + remoteId" @click='dialog = true'/>
    <div>
      <span class="product-name" @click="add">{{name}}</span>
    </div>
  </span>
</template>

<script>
  import PicksService from "@/services/PicksService";
  import * as constants from "@/constants";

  export default {
    props: ["remoteId", "name"],
    data() {
      return {
        dialog: false,
        items: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        quantity: 1
      }
    },
    created() {
      this.apiUrl = constants.API_URL;
    },
    methods: {
      async add() {
        const addedPick = (await PicksService.addPick(
          this.$store.state.route.params.orderId,
          this.remoteId
        )).data;
        addedPick.amount = this.quantity;
        this.$emit("update", addedPick);
      },
      dialogOk() {
        this.dialog = false;
        this.add();
      }
    }
  };
</script>

<style scoped>
  img {
    cursor: pointer;
    width: 64px;
    height: 64px;
  }

  .product-name {
    cursor: pointer;
  }

  img:hover {
    -webkit-filter: drop-shadow(8px 8px 10px gray); /* Safari */
    filter: drop-shadow(8px 8px 10px gray);
  }

  .product-card {
    font-size: smaller;
  }
</style>
