<template>
  <div class="product-card">
    <v-menu offset-y open-on-hover open-delay="300" :close-on-content-click="false">
      <div slot="activator">
        <v-badge right overlap v-model="showBadges">
          <span slot="badge">{{pick.amount}}</span>
          <img :src="apiUrl + '/images/prod/' + productId" />
          <div>
            <span>{{productName}}</span>
          </div>
        </v-badge>
      </div>

      <v-btn fab small @click="decreaseCount">
        <v-icon>remove</v-icon>
      </v-btn>
      <v-btn fab small @click="deletePick">
        <v-icon>delete</v-icon>
      </v-btn>
      <v-btn fab small @click="increaseCount">
        <v-icon>add</v-icon>
      </v-btn>
    </v-menu>
  </div>
</template>



<script>
import PicksService from '@/services/PicksService'
import * as constants from '@/constants'

export default {
  props: [
    'pick'
  ],
  created() {
    this.apiUrl = constants.API_URL
    this.productId = this.pick.product.remoteId
    this.productName = this.pick.product.name
  },
  computed: {
    showBadges: function() {
      return !!this.pick ? this.pick.amount > 1 : false
    }
  },
  methods: {
    async increaseCount() {
      this.pick.amount++
      await PicksService.changePickAmount(this.pick)
    },
    async decreaseCount() {
      if (this.pick.amount <= 1) {
        return
      }
      this.pick.amount--
      await PicksService.changePickAmount(this.pick)
    },
    async deletePick() {
      await PicksService.removePick(this.pick)
      this.$emit('remove', this.pick)
    }
  }
}
</script>



<style scoped>
.product-card {
  font-size: smaller;
}
</style>
