<template>
  <v-container fluid>
    <v-layout>
      <v-flex xs12 sm12 md12 lg8 offset-lg2 xl6 offset-xl3>
        <panel v-bind:title="'Заказ ' + order.name">
          <span v-for="pick in picks" :key="pick.remoteId" class="list-item">
            <product-to-buy
              v-bind="pick"
              v-on:buyOrReturn="buyOrReturnPick">
            </product-to-buy>
          </span>
        </panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script src="./OrderProcessing.js"></script>
<style scoped src="@/components/order/Order.css"></style>
