<template>
  <v-container fluid>
    <v-layout v-bind="binding">
      <v-flex class="products-list">
        <v-select
          v-bind:items="groups"
          v-model="groupFilter"
          label="Без фильтра по группам"
          clearable
          solo
          prepend-icon="filter_list"
          @change="groupFilterSelect($event)">
        </v-select>

        <v-divider></v-divider>

        <v-text-field
            name="filter"
            label="Без фильтра по названию"
            id="filter"
            clearable
            solo
            prepend-icon="filter_list"
            v-model="productFilter"
            @input="nameFilterChange">
        </v-text-field>

        <panel title="Товары">
          <div v-if="showProgress">
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
          </div>
          <transition-group name="list" tag="p">
                <span v-for="product in products" :key="product.remoteId" class="list-item">
                    <product
                      v-bind="product"
                      v-on:update="update">
                    </product>
                </span>
          </transition-group>
        </panel>

      </v-flex>

      <v-flex xl12>

        <panel v-bind:title="'Заказ ' + order.name">
          <span slot="actions">
            <v-btn icon @click="completeOrder">
              <v-icon>done</v-icon>
            </v-btn>
          </span>

          <span v-for="pick in picks" :key="pick.remoteId" class="list-item">
            <picked-product
              :pick="pick"
              v-on:remove="remove">
            </picked-product>
          </span>
        </panel>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script src="./Order.js"></script>
<style scoped src="./Order.css"></style>
