.list-item {
  transition: all 400ms;
  display: inline-block;
  width: 64px;
  height: 100px;
  margin: 0.5em;
  vertical-align: top;
  text-align: center;
  word-break: break-all;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-leave-active {
  position: absolute;
}

.products-list {
  min-width: 70%;
}