<template>

  <v-toolbar dark class="primary" dark>

    <v-toolbar-title class="white--text mr-4">
      <router-link
        class="home"
        tag="span"
        :to="{name: 'Home'}">
        FL prod v 0.31
      </router-link>
    </v-toolbar-title>

    <v-toolbar-items>
      <v-btn flat dark class="white--text"
             :to="{name: 'Orders'}"
             v-if="$store.state.isUserLoggedIn">
        Заказы
      </v-btn>
    </v-toolbar-items>

    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-btn flat dark class="white--text"
             :to="{name: 'Login'}"
             v-if="!$store.state.isUserLoggedIn">
        Вход
      </v-btn>
      <v-btn flat dark class="white--text"
             :to="{name: 'Register'}"
             v-if="!$store.state.isUserLoggedIn">
        Регистрация
      </v-btn>
      <v-btn flat dark class="white--text"
             v-if="$store.state.isUserLoggedIn"
             @click="logout">
        Выход
      </v-btn>
    </v-toolbar-items>

  </v-toolbar>

</template>

<script src="./Header.js"></script>
<style scoped src="./Header.css"></style>
