<template>
  <v-container fluid>
    <v-layout row>
      <v-flex xs12 xl6 offset-xl3>
        <panel title="Логин">
          <v-form v-model="valid">
            <v-text-field label="Логин" v-model="user" required></v-text-field>
            <v-text-field label="Пароль" type="password" v-model="password" :rules="passwordRules"></v-text-field>
            <v-btn dark class="cyan" @click="login">Вход</v-btn>
          </v-form>
        </panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import AuthenticationService from '@/services/AuthenticationService'

  export default {
    data () {
      return {
        user: '',
        password: '',
        error: null,
        valid: false,
        passwordRules: [
          (v) => v.length > 3 || 'Password should be minimum 4 chars'
        ]
      }
    },
    methods: {
      async login () {
        try {
          const response = await AuthenticationService.login({
            login: this.user,
            password: this.password
          })
          this.$store.dispatch('setToken', response.data.token)
          this.$router.push({
            name: 'Orders'
          })
        } catch (error) {
          this.error = 'Incorrect credentials'
        }
      },
      change () {
        this.error = null
      }
    }
  }
</script>
