 <template>
  <v-container fluid>
    <v-layout row>
      <v-flex xs6 offset-xs3>
        <panel title="Регистрация">
          <v-form v-model="valid" lazy-validation>
            <v-text-field label="Логин" type="text" v-model="login" :rules="loginRules"></v-text-field>
            <v-text-field label="Пароль" type="password" v-model="password" :rules="passwordRules"></v-text-field>
            <v-btn @click="signup" :disabled="!valid">Зарегистрироваться</v-btn>
          </v-form>
        </panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script src="./Register.js"></script>
